<h1>Board Game</h1>


<div id="color_palletes">
  <div class="black">&nbsp;</div>
  <div class="yellow">&nbsp;</div>
  <div class="purple">&nbsp;</div>
  <div class="blue">&nbsp;</div>
</div>

<div class="instructions">
 Choose colors from the pallets and fill colors in the boxes inside the board
</div>

<div id="board">
  <% (1 .. 9).to_a.each do |i|%>
    <div id="<%= i%>" class="square_box">
      <p style="font-size: 10px;">fill color here</p>
    </div>
  <% end %>
</div>

<style type="text/css">


  .instructions {
    font-weight: bold;
    text-decoration: underline;
    padding: 20px 0;
  }

  #board {
    width: 800px;
  }
  .square_box {
    width: 25%;
    height: 100px;
    border: 1px solid;
    float: left;
    cursor: s-resize
  }

  .square_box p {
    font-size: 10px;
    text-align: center;
    padding-top: 30px;
  }

  #color_palletes {
    width: 100%;
    clear: both;
    width: 100%;
    display: inline-block;
    cursor: pointer;
  }

  #color_palletes div {
    height: 100px;
    width: 100px;
    float: left;
  }

  .black {
    background: #000;
  }

  .yellow {
    background: #d5cb07;
  }

  .purple {
    background: #d5078a;
  }

  .blue {
    background: #074bd5;
  }
</style>
